@model ExcellOnServices.Models.Service

@{
    ViewData["Title"] = "Service Details";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Service Details</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body" style="background-color:#271940;">
                        <dl class="row">
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>
                            <dd class="col-sm-9">
                                <span class="form-control-plaintext text-light font-weight-bold">@Html.DisplayFor(model => model.Name)</span>
                            </dd>
                            
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>
                            <dd class="col-sm-9">
                                <div class="text-light p-2" style="background-color: rgba(255,255,255,0.1); border-radius: 4px;">
                                    @Html.DisplayFor(model => model.Description)
                                </div>
                            </dd>
                            
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.DailyChargePerEmployee)
                            </dt>
                            <dd class="col-sm-9">
                                <div class="input-group" style="max-width: 300px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-dark text-light border-dark">$</span>
                                    </div>
                                    <span class="form-control bg-dark text-light border-dark font-weight-bold">
                                        @Html.DisplayFor(model => model.DailyChargePerEmployee)
                                    </span>
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-dark text-light border-dark">per day/employee</span>
                                    </div>
                                </div>
                            </dd>
                            
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </dt>
                            <dd class="col-sm-9">
                                <span class="form-control-plaintext text-light">
                                    <i class="far fa-calendar-alt mr-2"></i>@Model.CreatedDate.ToString("MMMM dd, yyyy")
                                </span>
                            </dd>
                            
                            <dt class="col-sm-3">
                                @Html.DisplayNameFor(model => model.IsActive)
                            </dt>
                            <dd class="col-sm-9">
                                @if (Model.IsActive)
                                {
                                    <span class="badge badge-success p-2">
                                        <i class="fas fa-check-circle mr-1"></i> Active
                                    </span>
                                }
                                else
                                {
                                    <span class="badge badge-danger p-2">
                                        <i class="fas fa-times-circle mr-1"></i> Inactive
                                    </span>
                                }
                            </dd>
                        </dl>
                    </div>
                    <div class="card-footer">
                            <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id"><i class="fas fa-edit"></i>Edit Service</a>
                            <a asp-action="Index" class="btn btn-default">Back to List</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>